* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: #000000dc;
}
@media screen and (max-width: 480px) {
    * {
        font-size: 10px;
    }
}
:root {
    --primary-green: #00913D;
    --secundary-green: #CEE3D6;
    --primary-blue: #5CA5CB;
    --secundary-blue: #BFD6E7;
}
p {
    font-weight: 300;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 22px;
}
@media screen and (max-width: 768px) {
    h3 {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}
}
strong {
    font-weight: 600;
}
.anchor-style {
    color: #000000dc !important;
    font-weight: bold;
    font-size: 20px;
}
/* Font sizes */
.r-w {
    font-weight: 400;
}
.sb-w {
    font-weight: 600;
}

/* ------------------------- Top banner ------------------------- */

.main-banner {
    display: flex;
    padding: 30px 5%;
    width: 100%;
    gap: 20px;
}
@media screen and (max-width: 480px) {
    .main-banner {
        padding: 15px 5%;
    }
}
.banner-title {
    display: flex;
    align-items: center;
    width: 55%;
}
.banner-title > h3 {
    font-size: 30px;
    font-weight: 400;
    color: var(--primary-green);
    margin-right: 10px;
}
.banner-icon {
    display: flex;
    justify-content: end;
    width: 45%;
}
.banner-icon > img {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .banner-title {
        width: 75%;
    }
    .banner-title > h3 {
        font-size: 18px;
    }
    .banner-icon > img {
    width: 225px;
    }
}
@media screen and (max-width: 480px) {
    .banner-title > h3 {
        font-size: 14px;
    }
    .banner-icon > img {
    width: 150px;
    }
}
/* .title-banner{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('./img/bg-hospital-italiano-wide.png');
    background-size: cover;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    
} */

.title-banner {
  position: relative; 
  background-image: url('./img/bg-hospital-italiano-wide.png'); /* La imagen de fondo del contenedor */
  background-size: cover; 
  background-position: center; 
  width: 100%; 
  min-height: 375px; 
  padding: 50px 100px;
    border-bottom-right-radius: 80px;
}

.title-banner::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1; 
  border-bottom-right-radius: 80px;
}
@media screen and (480px <= width <= 800px) {
    .title-group > h1 {
        max-width: 400px !important;
    }
    .title-banner {
        min-height: 280px;
        border-bottom-right-radius: 60px;
    }
}


@media screen and (max-width: 480px) {
    .title-banner {
        min-height: 180px;
        position: relative;
        border-bottom-right-radius: 30px;
    }
    .title-group > h1 {
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 26px !important;
        max-width: 50% !important;
    }
}
.title-group {
    width: 100%;
    height: 100%;
    background-color: black;
}
.title-group > p {
    font-size: 2rem;
    color: white;
}
.title-group > h1 {
    position: absolute;
    left: 7%;
    top: 20%;
    max-width: 600px;
    font-size: 3.2rem;
    color: white;
    line-height: 3.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 8px #000;
    z-index: 1;
}
/* @media screen and (max-width: 480px) {
    .main-banner {
        padding: 20px 25px;
    }
    .title-banner {
        padding: 50px 10%;
        display: flex;
        justify-content: center;
    }
    .banner-title > h3 {
        font-size: 18px !important;
    }
    .title-group > p {
    font-size: 1.5rem;
    }
    .title-group > h1 {
    font-size: 3rem;
}
} */

/* ------------------------- Main ------------------------- */

main {
    padding: 25px 0 0 0;
}
/* @media screen and (max-width: 768px) {
    main {
        padding: 25px 50px;
    }
}
@media screen and (max-width: 480px) {
    main {
        padding: 25px 10px;
    }
} */
.current-date {
    display: flex;
    justify-content: end;
    padding: 0 5%;
}
.main-info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5%;
}
.main-info-section > p, .main-info-section > div > p {
    font-weight: 400;
}


/* ------------------------- Useful info ------------------------- */

.useful-info-section {
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
}
.mt-variant {
    margin: 20px 0 0;
}
@media screen and (max-width: 480px) {
    .useful-info-section {
        margin: 10px 0 0;
    }
}
.info-title {
    background-color: var(--primary-green);
    padding: .5rem 5%;
}
@media screen and (max-width: 480px) {
    .info-title > h3 {
        font-size: 16px;
    }
}
.info-title > h3 {
    color: white;
}
.useful-info-wrapper{
    display: flex;
}
.emergency-phone-number {
    font-size: 2rem;
    color: #EE4746;
    font-weight: 400;
}
@media screen and (max-width: 480px) {
    .emergency-phone-number {
       font-size: 1.6rem;
    }
}

.useful-numbers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width: 480px) {
    .useful-numbers-container {
       justify-content: start;
    }
}

.useful-numbers-container > p {
    width: 45%;
    position: relative;
}

.portrait-wrapper{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
}
.portrait-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.useful-info-group{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 50px 5%;
}
@media screen and (800px <= width <= 940px) {
    .useful-info-group {
        padding: 20px 5% !important;
        gap: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .useful-info-group {
    padding: 15px 0 15px 5%;
    gap: 1.5rem;
    }
}
@media screen and (max-width: 480px) {
    .useful-info-group {
       padding: 15px 0 15px 5%; 
    }
}

.phone-article {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 42%;
    padding-right: 10px;
}
.phone-article > div > p > span {
    font-weight: 400;
}
@media screen and (max-width: 480px) {
    .phone-article {
        gap: 0px;
        width: 48%;
    }
}
@media screen and (max-width: 380px) {
    .phone-article {
        width: 45%;
    }
    .patient-portal__title > div {
        padding-right: 5px;
    }
    .patient-portal__title {
        padding-right: 5px;
    }
}

.recolor-green {
    color: var(--primary-green);
}

.phone-number {
    font-size: 1.5rem;
    font-weight: 400;
}

/* ------------------------- Patients portal ------------------------- */


.patients-portal-wrapper-first {
    width: 100%;
    padding: 25px 5%;
    border-bottom: solid 1px var(--primary-green);
}

.patient-portal-article {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .patient-portal__title {
        width: 65%;
    }
    .patient-portal__button {
        width: 35;
    }
    .patient-portal__title > h3, .patient-portal__title > div > h3 {
        font-size: 10px !important;
        max-width: 200px ;
    }
    .item-icon {
        width: 30px !important;
    }
    .patient-portal__button > button {
        width: 100px !important;
        padding: 3px 5px !important;
    }
    .patient-portal__title > div > p {
        font-size: 8px !important;
        max-width: 180px !important;
    }

}

.patient-portal__title-first, .patient-portal__title {
    width: 70%;
}

@media screen and (max-width: 480px) {
    .patient-portal__title-first > h4 {
       font-size: 10px;
    }
    .patient-portal__title-first, .patient-portal__title {
    width: 65%;
    }
    .patient-portal__button{
    width: 35%;
    }
}


.patient-portal__title {
    display: flex;
    justify-content: start;
    align-items: center;
}

@media screen and (480px <= width <= 800px) {
    * {
        font-size: 14px;
    }
  .patient-portal__title {
    width: 70%;
  } 
  .patient-portal__button {
    width: 30%;
  } 
  .patient-portal__button > button {
    font-size: 12px !important;
    width: 100% !important;
    padding: 3px 5px !important;
  } 
  .patient-portal__button-first > button{
    font-size: 12px !important;
    width: fit-content !important;
    padding: 5px 12px !important;
  }
  .patient-portal__title >  h3, .patient-portal__title >  div > h3 {
    font-size: 12px !important;
  }
  .patient-portal__title >  div > p {
    font-size: 10px !important;
    max-width: 230px;
    margin-right: 10px;
  }
  .patient-portal__title-first > h4, .patient-portal__title-first > div > h5 {
    font-size: 12px !important;
  }
  .patient-portal__button-first > p {
    font-size: 12px !important;
  }
}


.patient-portal__button{
    width: 25%;
}



.patient-portal-item {
    display: flex;
    gap: .3rem;
    align-items: center;
}

.patient-portal__title-first >  h4 {
    margin-bottom: 25px;
}

.patient-portal__title >  h3, .patient-portal__title >  div > h3 {
    font-size: 22px;
}
@media screen and (800px <= width <= 880px) {
   .patient-portal__title >  h3, .patient-portal__title >  div > h3 {
    font-size: 18px !important;
    } 
}

.patient-portal__title >  div > p {
    font-size: 18px;
    max-width: 550px;
    padding-right: 15px;
    font-weight: 400;
}

.patient-portal-item > h5{
    font-weight: 400;
}

.patient-portal__button-first {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 30%;
}

@media screen and (max-width: 480px) {
    .patient-portal__button-first {
       width: 35%;
    }
    .patient-portal__button-first > p {
        font-size: 8px !important;
        margin-top: 10px !important;
    }
    .patient-portal__button-first > p > span {
        font-size: 8px !important;
    }

}

.patient-portal__button-first > button, .patient-portal__button > button {
    all: unset;
    color: var(--primary-green);
    border: solid 1px var(--primary-green);
    border-radius: 10px;
    padding: 6px 20px;
    width: fit-content;
    font-weight: 500;
    box-shadow: 2px 2px 5px 0px #c7c5c5;
}
@media screen and (min-width: 480px) {
.patient-portal__button-first > button {
    padding: 8px 30px;
    font-size: 24px;
}
}

.patient-portal__button > button {
    width: 195px;
    text-align: center;
}

.patient-portal__button-first > p, .patient-portal__button > p {
    color: var(--primary-green);
    margin-top: 25px;
    max-width: 250px;
    font-weight: 400;
}
@media screen and (max-width: 800px) {
    .patient-portal__button-first > p {
        margin-top: 10px;
    }
}
.patient-portal__button-first > p {
    font-size: 16px;
    max-width: 200px;
    text-shadow: 2px 2px 8px #00000013;
}

.patient-portal__button-first > p > span {
    font-weight: 500;
    font-size: 16px;
}
.patient-portal__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.patients-portal-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 25px 5%;
    border-bottom: solid 1px var(--primary-green);
    height: 125px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .patients-portal-wrapper {
        height: 80px;
    }
}

.item-icon {
    width: 50px;
    margin-right: 10px;
}

/* ------------------------- Footer ------------------------- */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 5%;
    gap: 1rem;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .footer-wrapper {
        padding: 30px 5%;
    }
    .footer-wrapper > span {
        font-size: 11px !important;
    }
}

.footer-wrapper > span {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}
.footer-wrapper > p {
    max-width: 780px;
    text-align: center;
    font-weight: 400;
}

.footer-slogan {
    width: 100%;
    display: flex;
}
.footer-slogan > span {
    padding: 1rem 1rem 1rem 5%;
    background-color: var(--primary-green);
    color: white;
    width: 450px;
    border-top-right-radius: 10px;
}
@media screen and (max-width: 480px) {
    .footer-slogan > span {
        width: fit-content; 
        padding: 1rem 1.5rem 1rem 5%;
    }
}

.icon-arrows {
    width: 20px;
    height: 15px;
}
@media screen and (max-width: 480px) {
    .icon-arrows {
    width: 10px;
    height: 8px;
}
}


