* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Fira Sans", sans-serif;
}

:root {
    --primary-green: #A3CEB5;
    --secundary-green: #CEE3D6;
    --primary-blue: #5CA5CB;
    --secundary-blue: #BFD6E7;
}

.main-banner {
    display: flex;
    padding: 20px 50px;
    background-color: var(--secundary-green);
    width: 100vw;
}
.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.banner-icon {
    display: flex;
    justify-content: end;
    width: 5%;
}
.banner-logo {
    width: 32px;
}

.title-banner {
    /* background-image: url('https://png.pngtree.com/background/20230827/original/pngtree-3d-rendering-of-a-hospital-s-indoor-corridor-picture-image_4842146.jpg'); */
    background-image: url('./img/header-banner.jpg');
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
    padding: 50px 100px;
}
.title-group {
    max-width: 500px;
}
.title-group > p {
    font-size: 2.5rem;
    color: white;
}
.title-group > h1 {
    font-size: 5rem;
    color: white;
}

/* MAIN */

main {
    padding: 25px 100px;
}
.current-date {
    display: flex;
    justify-content: end;
}
.info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}





.info-title {
    background-color: var(--primary-green);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.useful-info {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.useful-info-wrapper{
    display: flex;
}
.portrait-wrapper{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portrait-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.useful-info-group{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
    background-color: var(--secundary-green)
}
.useful-info-group > p:first-child {
    color: red;
}
.recomendation-division {
    background-color: var(--secundary-green);
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}
.anchor-style {
    color: black !important;
    font-weight: bold;
}

.subdivision-divs {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
}

.subdivision-divs > div {
    background-color: var(--primary-green);
    width: 49.8%;
    padding: 35px 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.subdivision-divs > div:nth-child(2), .subdivision-divs > div:nth-child(3), .subdivision-divs > div:nth-child(6) {
    background-color: var(--secundary-green);
}
.article-wrapper {
    display: flex;
    margin: 5px 0;
    padding: 50px;
    background-color: var(--secundary-green);
}

.article-group {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 1rem;
    padding-right: 50px;
}
.article-title {
    max-width: 600px;
}
.article-description {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
}

.advise-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.advise-section > p {
    text-align: center;
}
/* é, á, í, ó, ú */









.payment-methods {
    margin: 50px 0;
}

.payment-variant {
    background-color: var(--primary-blue);
}

.payment-sub-variant {
    background-color: var(--secundary-blue);
}

.advise-section {
    margin: 50px 0;
}

.footer-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-banner-msg {
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 600;
}





















